{% extends 'food/base.html' %}


{% block content %}

    <div class="row justify-content-center mt-5">
        <div class="col-lg-4 col-md-6 col-10 text-center shadow justify-content-center">
            <div class="m-5">
                {% if store_city %}
                    <h3 class="mb-2">Stores in {{ store_city.city }} </h3>
                <a class="text-white btn btn-md btn-primary mb-3" href="{% url 'food:create_store' %}">Add a Store</a>
                    <table class="table table-dark">
                        <thead>
                        <tr>
                            <th scope="col"><h3>Stores</h3></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for store in city_store_list %}
                            <tr>
                                <td><a href="{% url 'food:store_details' store.id %}">{{ store }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}