{% extends 'food/base.html' %}

<style>

</style>
{% block content %}
    <div class="container-fluid">

        <div class="row justify-content-center mt-3">
            <div class="col text-center shadow m-2">
                <h1>Recent Snacks</h1>
            <a class="text-white btn btn-md btn-primary m-2" href="{% url 'food:create_snack' %}">Add a Snack</a> <a class="text-white btn btn-md btn-primary m-2" href="{% url 'food:snack_search' %}">Search for a snack</a>
                {% if snacks %}
                    {% for snack in snacks %}
                        <li><a href="{% url 'food:snack_details' snack.id %}">{{ snack }}</a> - ${{ snack.price }}</li>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col text-center shadow m-2 mt-4">
                <h1>Recent Stores</h1>
            <a class="text-white btn btn-md btn-primary m-2" href="{% url 'food:create_store' %}">Add a Store</a>
                {% if stores %}
                    {% for store in stores %}
                        <li><a href="{% url 'food:store_details' store.id %}">{{ store }}</a></li>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

         <div class="row justify-content-center mt-5">

        </div>

    </div>
{% endblock %}