{% extends 'food/base.html' %}


{% block content %}

    <div class="row justify-content-center mt-5">
        <div class="col-6 text-center shadow">
            <div class="m-3">
                <div class="m-5">
                    <h6 class="text-muted">Snacks created by</h6>
                    <h1>{{ user }}</h1>
                    <a class="text-white btn btn-md btn-primary mt-3" href="{% url 'food:create_snack' %}">Add a Snack</a>
                </div>
                {% if users_snacks %}
                    <table class="table table-dark">
                     <thead>
                        <tr>
                            <th scope="col">Snack</th>
                            <th scope="col">Price</th>
                            <th scope="col">Store</th>
                            <th scope="col">Date Purchased</th>
                        </tr>
                      </thead>
                    <tbody>
                    {% for snack in users_snacks %}
                        <tr>
                        <td>{{ snack }}</td>
                        <td>{{ snack.pretty_price_string }}</td>
                        <td>{{ snack.store }}</td>
                        <td>{{ snack.date_found.date }}</td>
                        </tr>
                    {% endfor %}



                    </tbody>

                    </table>
                {% else %}
                    <h4>You have added no snacks</h4>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}