{% extends 'food/base.html' %}

{% block content %}


    <div class="row justify-content-center mt-5">
        <div class="col-4 text-center shadow justify-content-center">
        <div class="m-5">
        <h3 class="mb-4">Snack List</h3>
            {% if snacks %}
                <table class="border mx-auto">
                <tr class="border">
                    <td class="border"><h6>Name</h6></td>
                    <td class="border"><h6>Price</h6></td>
                </tr>
                {% for snack in snacks %}
                    <tr class="border text-left">
                    <td class="border col-8"><a href="{% url 'food:snack_details' snack.id %}">{{ snack }}</a></td>
                    <td class="border col-6">${{ snack.price }}</td>
                    </tr>
                {% endfor %}
                </table>
            {% endif %}
        </div>
        </div>
    </div>

{% endblock %}