{% extends 'food/base.html' %}

{% block content %}

    <div class="row justify-content-center mt-5">
        <div class="col-8 text-center shadow justify-content-center">
        <div class="m-5">
        <h3 class="mb-4">Store List</h3>
            {% if stores %}
                <table class="border mx-auto">
                <tr class="border">
                    <td class="border"><h6>Store</h6></td>
                    <td class="border"><h6>City</h6></td>
                </tr>
                {% for store in stores %}
                    <tr class="border text-left">
                    <td class="border col-2"><a href="{% url 'food:store_details' store.id %}">{{ store }}</a></td>
                    <td class="border col-1">{{ store.city }}</td>
                    </tr>
                {% endfor %}
                </table>
            {% endif %}
            <a class="text-white btn btn-md btn-primary mt-3" href="{% url 'food:create_store' %}">Add Store</a>
        </div>
        </div>
    </div>

{% endblock %}